@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #142C07;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  a {
    color: inherit;
  }
  sup {
    font-size: 0.55em;
    line-height: 0;
    vertical-align: super;
    font-weight: 400;
  }
}
